.counterBox {
  justify-content: center;
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
}

.btnRest {
  margin-right: auto;
  padding: 0px 10px;
  background-color: #0088a9;
  border: none;
  color: white;
}

.counter {
  margin: 0 auto;
}

.btnAdd {
  margin-left: auto;
  padding: 0px 10px;
  background-color: #0088a9;
  border: none;
  color: white;
}
.btnAddToCart {
  display: flex;
  margin: 10px auto;
  border: none;
  background-color: #0088a9;
  padding: 5px 15px;
  color: white;
}
