.counterBox {
  display: flex;
  justify-content: end;
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
  width: 35%;
  margin-left: auto;
}

.counterCard {
  margin: 15px;
}

.btnRest {
  padding: 0px 5px;
  background-color: #0088a9;
  border: none;
  color: white;
}

.counter {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
  color: black;
}

.btnAdd {
  padding: 0px 5px;
  background-color: #0088a9;
  border: none;
  color: white;
}
.btnAddToCart {
  display: flex;
  margin: 10px 10px;
  border: none;
  background-color: #0088a9;
  padding: 5px 15px;
  color: white;
}

.ItemBtn {
  display: flex;
  justify-content: end;
}

.btnVerItem {
  display: flex;
  margin: 10px 0px;
  border: none;
  background-color: #0088a9;
  padding: 5px 15px;
  color: white;
}

.detailSelect {
  display: flex;
  justify-content: end;
  margin-left: auto;
  margin-top: auto;
  width: 20%;
}
