.detailContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 40px auto;
  padding: 20px;
  background-color: dimgray;
  color: white;
  box-shadow: 10px 14px 15px 3px #888686;
  border-radius: 10px;
}

.detailContainerInfo {
  display: flex;
  margin: 0 auto;
}
.detailContainer img {
  display: flex;
  height: 700px;
  width: 800px;
  border-radius: 10px;
  margin: 10px 0px;
}

.DetailCounter {
  margin-top: 50px;
}

.detailBox {
  margin-right: auto;
  margin-left: 50px;
  width: 100%;

  align-self: flex-start;
  align-items: flex-start;
}

.detailInfo {
  margin: 13px auto;
  width: 100%;
}

.detailTitle {
  margin-bottom: 50px;
}

.detailPrice {
  font-size: 20px;
}

.Detalle {
  margin-bottom: auto;
  width: 100%;
}
