.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  margin: 3rem auto;
}

.loading {
  display: flex;
  margin: 0 auto;
  font-size: 20px;
  justify-content: center;
}
